<div class="center">
	<div class="title">
		Arroyo and Wagner Wedding
	</div>

	<br />
	<center>
		<% if user_signed_in? %>
			<div class="btn-group text-center">
				<%= link_to 'View Guestbook', guestbooks_path, class: "btn btn-semi-mini" %>
				<%= link_to 'View Well Wishes', regrets_path, class: 'btn btn-semi-mini' %>
			</div><br>
			<div class="btn-group container-fluid text-center">
				<%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-semi-mini' %>
				<%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'btn btn-semi-mini' %>
			</div>
		<% else %>
			<div class="btn-group container-fluid text-center">
				<%= link_to 'RSVP', new_user_registration_path, class: "btn btn-semi-mini" %>
				<%= link_to 'Sign In', new_user_session_path, class: 'btn btn-semi-mini' %>
			</div>
		<% end %>
	</center>
</div>