<%= form_for(@regret) do |f| %>
  <% if @regret.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(regret.errors.count, "error") %> prohibited this regret from being saved:</h2>

      <ul>
      <% regret.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field cant-see-me">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="container-fluid">
      <form class="form-horizontal">
        <div class="form-group">
          <%= f.text_area :message, placeholder: "Leave a message for the bride and groom.", class: "big-forms submit" %>
            <%= f.submit :class => "submit btn-semi-inline" %>
        </div>
      </form>
    </div>
<% end %>
